*{
    margin:  0;
    padding:  0;
    box-sizing: border-box;
}

body{
    background-color: aqua; rgb(11,11,11)
    text-align: center;
    line-height: 2.4;
}

.hero{
     padding20px 10px;

}
.hero img{
    border-radius: 50%;
}   margin-bottom: 10px;
    

}

.section h2{





.accent{
    color: blanchedalmond;(240,171,206,0.615);
}

.grid{
    display: grid;
    gap:15px;
}




.grid div
    padding: 20px;
    border-radius: 40px;
    background-color: